.clickMe {
  width: 40px;
  height: 40px;
}
.citybutton {
  padding-left: 2px;
  padding-bottom: 15px;
  /* border: solid 1px #59a8fe; */
}
.cityinput {
  padding-left: 2 px;
  padding-right: 0px;
  padding-bottom: 15px;
}
.recent {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px, 5px, 5px, 5px;
}

.city {
  border: ridge 1px #ebebeb;
  display: flex;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 0px;
}

.bg-custom {
  background-color: #007bff;
  color: white;
}

.card-body {
  margin-top: 0px !important;
  padding-top: 0px !important;
}
.bg-customgray {
  background-color: #f8f9fa;
}

.cities:hover {
  background-color: gray;
  color: honeydew;
}
.cities:active {
  background-color: gray;
  color: navy;
}
.localBorder {
  border: 1px ridge #ebebeb;
}
